@{

    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Giới thiệu</title>
</head>
<body>

    <div id="md_en" data-target="out_en" class="agreement_md">
        <h1>Giới thiệu</h1>
        <ul>
            <li>Tập hợp toàn bộ bản dịch Light Novel Tiếng Việt có trên mạng.</li>
            <li>Tạo điều kiện cho các nhóm dịch Light Novel chia sẻ, quảng bá và thảo luận thành quả của họ.</li>
            <li>Giúp người đọc tiếp cận với Light Novel một cách trực quan thông qua hệ thống đọc online chuyên biệt.</li>
        </ul><p>Những yếu tố giúp Cổng Light Novel ưu việt hơn những dịch vụ chia sẻ Light Novel khác:</p>
        <ul>
            <li>Ở CLN, tốc độ được đặt lên trên hết, trang sử dụng server riêng và có khả năng lưu trữ toàn bộ dữ liệu, giúp cho việc truy cập và hiển thị ảnh nhanh hơn với chất lượng tốt nhất.</li>
            <li>Giao diện đọc online được tối ưu hóa với chức năng tăng size font và giãn cách line, cùng với hệ thống bookmark cho người dùng.</li>
            <li>CLN hỗ trợ người dùng đăng bản dịch với bộ công cụ nhanh và hiệu quả.</li>
            <li>Hỗ trợ đọc online trên thiết bị cầm tay và điện thoại di động.</li>
        </ul>
    </div>

</body>
</html>