@model DocTruyen.Models.EF.Chapter
@using System.Text.RegularExpressions
@{
    ViewBag.Title = "Detail";

}
<style>
    .parent-centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .centered {
        text-align: center;
    }

    .pre-wrap-justify {
        font-size: 24px; /* Adjust the size as needed */
        margin-left: 20px; /* Adjust the left margin as needed */
        margin-right: 20px; /* Adjust the right margin as needed */
        white-space: pre-wrap; /* Preserve whitespace and line breaks */
        text-align: justify; /* Justify the text */
    }

    .navigation-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 16px;
    }
</style>

<hr />

<div class="parent-centered">
    <div class="centered">
        <h2>@Html.DisplayFor(model => model.Name)</h2>
    </div>
</div>

<div class="row">
    <div class="pre-wrap-justify">
        @ViewBag.Content
    </div>
</div>

<div class="navigation-buttons">
    <button class="btn btn-primary" id="btnPrevious">Previous</button>
    <a href="/stories/details/@Html.DisplayFor(model => model.StoryId)"> Mục lục</a>
    <button class="btn btn-primary" id="btnNext">Next</button>
</div>

<hr />


</table>

<section>
    <div class="container">
        <h2 class="text-center mt-5">Để lại bình luận của bạn</h2>
        <form>
            <div class="form-group">
                <label for="commentName">Tên:</label>
                <input type="text" class="form-control" id="commentName" placeholder="Nhập tên của bạn">
            </div>
            <div class="form-group">
                <label for="commentBody">Bình luận:</label>
                <textarea class="form-control" id="commentBody" rows="3" placeholder="Nhập bình luận của bạn"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Gửi bình luận</button>
        </form>
    </div>
</section>

<script>
    document.getElementById("btnPrevious").addEventListener("click", function() {
        // Điều hướng tới trang chapter trước đó
        if (@Model.Id > 1)
        window.location.href = "/Chapters/GetPreviousChapter?currentChapterId=@Model.Id";
    });

    document.getElementById("btnNext").addEventListener("click", function() {
        // Điều hướng tới trang chapter tiếp theo

        window.location.href = "/Chapters/GetNextChapter?currentChapterId=@Model.Id";
    });
</script>
