@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">

<body>
    <!-- Tìm kiếm Begin -->
    <div class="d-flex justify-content-center">
        <section class="hero hero-normal">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-12 ">
                        <div class="hero__search">
                            <div class="hero__search__form">
                                <form action="#">
                                    <input type="text" placeholder="Link truyện/ Tìm kiếm?">
                                    <button type="submit" class="site-btn">SEARCH</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Tìm kiếm End -->
    <!-- Hình Banner -->
    <div class="banner my-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="~/Images/banner/banner-1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="~/Images/banner/banner-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->
    <!-- Danh sách nổi bật trang chủ -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <!--Phần Lastest Product -->
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Latest Mangas</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-1.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Manga Name</span>
                                    </div>
                                </a>
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-2.png" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Manga Name</span>
                                    </div>
                                </a>
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-3.png" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Manga Name</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-1.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Manga Name</span>
                                    </div>
                                </a>
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-2.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Manga Name</span>
                                    </div>
                                </a>
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-3.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Manga Name</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Kết thúc Lastest Product -->
                <!--Phần top rate -->
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Top Rated Mangas</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-1.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Manga Name</span>
                                    </div>
                                </a>
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-2.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Manga Name</span>
                                    </div>
                                </a>
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-3.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Manga Name</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-1.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Manga Name</span>
                                    </div>
                                </a>
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-2.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Manga Name</span>
                                    </div>
                                </a>
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-3.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Manga Name</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Kết thúc top rate -->
                <!--Phần review -->
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Review Mangas</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-1.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Manga Name</span>
                                    </div>
                                </a>
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-2.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Manga Name</span>
                                    </div>
                                </a>
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-3.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Manga Name</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-1.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Name Manga</span>
                                    </div>
                                </a>
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-2.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Name Manga</span>
                                    </div>
                                </a>
                                <a href="detail-manga.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="~/Images/latest-product/lp-3.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Shounen</h6>
                                        <span>Name Manga</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Kết thúc review-->
            </div>
        </div>
    </section>
    <!-- Kết thúc danh sách nổi bật trang chủ -->
    <!-- Footer Section Begin -->

    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.js"></script>
    <script src="~/Content/js/mixitup.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/main.js"></script>


</body>