@model PagedList.PagedList<DocTruyen.Models.EF.Story>
@using PagedList.Mvc
@using System.Text.RegularExpressions
<style>
    .parent-centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .centered {
        text-align: center;
    }
</style>


@foreach (var item in Model)
{
    <div class="parent-centered">
        <div class="centered">
            <table border="1" cellpadding="2" cellspacing="10" width="1000px">
                <tr>
                    <td width="200px"> <img src="@item.image" width="200" /></td>
                    <td rowspan="6" style="text-align: justify;">
                        <p><a href="/Stories/Details/@item.Id">@item.Name</a></p>
                        <p>
                            @{
                                var content = @item.Content;
                                var maxLength = 700; // Set your character limit

                                // Decode HTML entities
                                content = HttpUtility.HtmlDecode(content);

                                content = Regex.Replace(content, "<br\\s*/?>", "\n"); // Replace <br> with newline
                                content = Regex.Replace(content, "<.*?>", String.Empty); // Remove other HTML tags

                                // Truncate content if it exceeds maxLength
                                if (content.Length > maxLength) content = content.Substring(0, maxLength) + "...";

                            }
                            @content
                        </p>
                    </td>
                </tr>

            </table>
        </div>
    </div>
}
<div class="row">
    <div class="col-6"></div>
    <div class="col-6" style="text-align:right;">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Ogani</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="footer__copyright__payment"><img src="~/Images/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>

