@model DocTruyen.Models.EF.Viewed

@{
    ViewBag.Title = "Delete";
}


<h3>Chắc chắn muốn xóa bình luận này</h3>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
